.path {
    position: relative;
    max-width: 400px;
    margin: auto;

    &-step {
        position: relative;
        box-sizing: border-box;
        margin: 0 0 20px 20px;
        padding: 10px;
        width: calc(100% - 20px);
        background-color: #ECF0F1;
        border-radius: 10px;
        text-align: left;

        & p {
            margin: 5px 0;
        }

        &-title {
            font-weight: bold;
        }

        &::before {
            content: "";
            position: absolute;
            left: -20px;
            top: -10px;
            width: 5px;
            height: calc(100% + 20px);
            background-color: #ECF0F1;
        }

        &::after {
            content: "";
            position: absolute;
            left: -25px;
            top: -20px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: #ECF0F1;

        }
    }
}